*{
    margin: 0;
    font-family: "gilroy";
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%
}

#main{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(0, 0, 0); */
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* border: 1px solid red; */
}

#nav{
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

#nav img{
    height: 60px;
}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 60px;
}
#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    /* letter-spacing: 1px; */
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100px; */
    /* background-color: red; */
}

#heroleft{
    min-width: 50%;
    /* height: 100px; */
    /* background-color: rgb(22, 22, 17); */
}


#heroleft .elem {
    position: relative;
    height: 9vw;
    overflow: hidden;
    /* background-color: red; */
}

#heroleft .elem h1:nth-child(1) {
    top: 0;

}
#heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: #fff;
    font-weight: 100;
    font-size: 11vw;

}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
    /* height: 100px; */
    /* background-color: rgb(33, 177, 64); */
}

#heroleft button{
    pointer-events: all;
    padding: .8px 3vw;
    font-size: 3vw;
    font-family: "kajiro";
    margin-top: 2vw;
}

#heroright p{
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

#heroright #imagediv{
    width: 100%;
    height: 170px;
    /* margin-top: 20px; */
    /* margin-bottom: 0px; */
    background-image: url(https://media.istockphoto.com/id/2186161005/photo/woman-relaxing-with-drink-by-tropical-pool.webp?a=1&b=1&s=612x612&w=0&k=20&c=_isC8EufkGfs6fMDT-ROftmORVUGLArwrhXZLoAp_lQ=);
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
}

#heroright p:nth-child(3){
    margin-bottom: 100px;
    /* color: red; */
}